exportPattern("^[[:alpha:]]+")

import(seqinr)
import(DiscreteWeibull)

importFrom(stats, constrOptim, dgeom, dnbinom, dpois,
             dunif, optim, pgeom, pnbinom, ppois, punif,
             rgeom, rnbinom, rpois)
importFrom(stats, simulate, AIC, BIC)
importFrom(utils, tail)

S3method(simulate, markovmodel)
S3method(simulate, smmparametric)
S3method(simulate, smmnonparametric)
S3method(AIC, fittedmarkovmodel)
S3method(BIC, fittedmarkovmodel)